* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}
input {
  display: block;
  margin-bottom: 20px;
}
.result {
  border: 3px solid green;
  max-width: 20%;
  border-radius: 0.5em;
  padding: 10px 50px;
}
.result-style {
  display: flex;
  justify-content: start;
  justify-items: center;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}
